*{margin:0;padding:0; outline:0;}
body{
    font-family: Arial;
    font-size:16px;
    line-height:19px;
}
ul,li{list-style:none;}
a{text-decoration: none;}
.clr{clear: both;}
.full_container{
    width:100%;
}
.container{
    width: 1080px;;
    margin: 0 auto;
}
/*----------------This is a Hedar Option------------------*/
.hedaroption{
    background: #2b3240;
}
.hedaroption h2{
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.nave ul li{
    float: right;
    display: block;
}
.nave ul li a{
    display: block;
    background: #4a566d;
    color: #fff;
    margin-left: 1px;
    padding: 5px 15px;
}
.nave ul li a:hover{
    background: #ffffff;
    color: #000;
}
/*----------------This is a Main Content------------------*/
.conent_option{}
/*-------This is a left_sidebar-------*/
.left_sidebar{
    float: left;
    background: #2b3240;
    width: 300px;
}
.same_sitebar h2{
    display: block;
    background: #4a566d;
    color: #fff;
    padding: 8px 10px;
    border-bottom: 2px solid #949494;
    margin-bottom: 20px;
    margin-top: 20px;
}
.same_sitebar ul li{
    display: block;
    background: #4a566d;
    padding: 5px 20px;
    border-bottom: 1px solid #5f6d8a;
}
.same_sitebar ul li:last-child{
    border-bottom: 0px solid #5f6d8a;
}
.same_sitebar ul li a{
    display: block;
    color: #fff;
}
.same_sitebar ul li a:hover{
    color: #000;
}
/*-------This is a content-------*/
.content{
    float: right;
    background: #88d3ab;
    width: 760px;
}
/*--------------This is a Footer section------------------*/
.footer{
    background: #cacaca;
}
.footer p{
    text-align: center;
    font-size: 20px;
    height: 60px;
    padding-top: 40px;
}