*{margin:0;padding:0; outline:0;}
body{
    font-family: Arial;
    font-size:16px;
    line-height:19px;
}
ul,li{list-style:none;}
a{text-decoration: none;}
.clr{clear: both;}
.full_container{
    width:100%;
}
.container{
    width:107;
}
/*--------------This is a Hedar Option------------------*/
.hedaroption{}
.nave{}
.nave ul li{}
.nave ul li a{}
/*--------------This is a Main Content------------------*/
/*--------------This is a Footer section------------------*/
.footer{}
.footer p{}