*{margin:0;padding:0; outline:0;}
body{
    font-family: Arial;
    font-size:16px;
    line-height:19px;
}
ul,li{list-style:none;}
a{text-decoration: none;}
.clr{clear: both;}
.full_container{
    width:100%;
}
.container{
    width: 1080px;
    margin: 0 auto;
}
/*----------------This is a Hedar Option------------------*/
.hedaroption{
    background: #2b3240;
}
.hedaroption h2{
    text-align: center;
    color: #fff;
    padding-top: 30px;
}
.nave ul li{
    float: right;
    display: block;
}
.nave ul li a{
    display: block;
    background: #4a566d;
    color: #fff;
    margin-left: 1px;
    padding: 5px 15px;
}
.nave ul li a:hover{
    background: #ffffff;
    color: #000;
}
/*----------------This is a Main Content------------------*/
/*.conent_option{}*/
/*-------This is a left_sidebar-------*/
.left_sidebar{
    float: left;
    background: #2b3240;
    width: 300px;
}
/*-------This is a exta style-------*/
.same_sitebars h2{
    display: block;
    background: #4a566d;
    color: #fff;
    padding: 8px 10px;
    border-bottom: 2px solid #949494;
    margin-bottom: 10px;
}
.same_sitebars ul li{
    display: block;
    background: #4a566d;
    padding: 5px 20px;
    border-bottom: 1px solid #5f6d8a;
}
.same_sitebars ul li:last-child{
    border-bottom: 0px solid #5f6d8a;
}
.same_sitebars ul li a{
    display: block;
    color: #fff;
}
.same_sitebars ul li a:hover{
    color: #000;
}
/*-------This is a exta style End-------*/
.same_sitebar h2{
    display: block;
    background: #4a566d;
    color: #fff;
    padding: 8px 10px;
    border-bottom: 2px solid #949494;
    margin-bottom: 10px;
    margin-top: 20px;
}
.same_sitebar ul li{
    display: block;
    background: #4a566d;
    padding: 5px 20px;
    border-bottom: 1px solid #5f6d8a;
}
.same_sitebar ul li:last-child{
    border-bottom: 0px solid #5f6d8a;
}
.same_sitebar ul li a{
    display: block;
    color: #fff;
}
.same_sitebar ul li a:hover{
    color: #000;
}
/*-------This is a content-------*/
.content{
    float: right;
    width: 765px;
}
.under img{
    width: 765px;
    margin-top: 15px;
}
.content_update h2{
    padding: 8px 10px;
    border-bottom: 2px dashed;
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="file"]{
    width: 300px;
    margin-bottom: 5px;
    padding: 7px;
    margin-left: 10px;
    border-radius: 5px;
}
input[type="submit"]{
    margin-left: 10px;
    padding: 8px 10px;
    background: #2b3240;
    color: #fff;
    border-radius: 5px;
}
input[type="submit"]:hover{
    background: #4a566d;
}
/*--------------This is a Footer section------------------*/
.footer{
    background: #2b3240;
}
.footer p{
    text-align: center;
    font-size: 20px;
    height: 60px;
    padding-top: 40px;
    color: #fff;
}
.footer p a{
    color: #ffffff;
}
.footer p a:hover{
    color: #4a566d;
}
/*--------------This is a Other Page------------------*/
.eidite{
    text-align: center;
}
.eidite th{
    width: 250px;
    background: #4a566d;
    color: #ffffff;
    padding: 5px;
}
.eidite td{
    padding: 5px;
}
.eidite td a:hover{
    text-decoration:underline;
}
.eidite tr:nth-child(2n){
    background: #d8d7d7;
}
.eidite tr:nth-child(2n+1){
    background: #ffffff;
}
select{
    margin-bottom: 5px;
    padding: 7px;
    margin-left: 10px;
    border-radius: 5px;
}
textarea{
    margin-left: 10px;
    height: 90px;
    width: 315px;
}